.resumeContianer {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 40%;
	background: url('http://192.168.20.225:3000/client/containers/Resume/images/background.jpg') no-repeat fixed;
	background-size: cover;

}
.resumeContianer .resumeTitle {
	line-height: 3;
	font-size: 30px;
	color: darken(#fff, 5%);
	text-align: center;
}
.resumeContianer .personalInfo {
	width: 80%;
	margin: 0 auto;
	color:#fff;
	line-height: 2;
}
$lineHeight: 80px;
.resumeContianer .currentState {
	width: 100%;
	height: $lineHeight;
	line-height: $lineHeight;
	margin-top: 200px;
	text-align: center;
	color: #fff;
	background: rgba(255,255,255,.3);
	//box-shadow: 0 5px 5px rgba(47,47,47,0.98);
}